table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #197ba1;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(244, 248, 248);
}
